# Achmad Nur Bani Suta (2209106016) Posttest 4

## Import Library

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_csv("games.csv")

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [3]:
def drop_columns(df: pd.DataFrame, cols_to_drop: list = None, 
                 idx_to_drop: list = None) -> pd.DataFrame:
    new_df = df.copy()

    if cols_to_drop is not None:
        new_df = new_df.drop(columns=cols_to_drop)

    if idx_to_drop is not None:
        new_df = new_df.drop(index=idx_to_drop)

    return new_df


def convert_str_num_to_int(df: pd.DataFrame, col_names: list) -> pd.DataFrame:
    new_df = df.copy()
    
    for col in col_names:
        new_df[col] = new_df[col].str.replace("K", "000")

        new_df[col] = new_df[col].map(lambda x: int(float(x) * 1000) if '.' in x else int(x))

    return new_df

In [4]:
numerical_cols = ["Plays", "Playing", "Backlogs", "Wishlist"]

data = convert_str_num_to_int(data, numerical_cols)

In [5]:
data = drop_columns(data, "Unnamed: 0")

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1512 non-null   object
 1   Release Date       1512 non-null   object
 2   Team               1511 non-null   object
 3   Rating             1499 non-null   float64
 4   Times Listed       1512 non-null   object
 5   Number of Reviews  1512 non-null   object
 6   Genres             1512 non-null   object
 7   Summary            1511 non-null   object
 8   Reviews            1512 non-null   object
 9   Plays              1512 non-null   int64
 10  Playing            1512 non-null   int64
 11  Backlogs           1512 non-null   int64
 12  Wishlist           1512 non-null   int64
dtypes: float64(1), int64(4), object(8)
memory usage: 153.7+ KB

## Membagi Dataset

In [7]:
X = data.iloc[:, : -1]
y = data.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("X_train", X_train.shape)
print("X_test", X_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

X_train (1058, 12)
X_test (454, 12)
y_train (1058,)
y_test (454,)

## Melakukan Normalisasi

In [8]:
min_max = MinMaxScaler()

# Copy Data
copy1 = data
dataCopy_normalization = copy1[["Playing"]]

normalization = min_max.fit_transform(dataCopy_normalization[["Playing"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["Playing_Normalization"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["Playing_Normalization"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

   Playing  Playing_Normalization
0     3800               1.000000
1     3200               0.842105
2     2500               0.657895
3      679               0.178684
4     2400               0.631579
5     1800               0.473684
6     1100               0.289474
7      759               0.199737
8      470               0.123684
9     1100               0.289474

## Melakukan Standarisasi

In [9]:
ssc = StandardScaler()

# Copy Data
copy2 = data
dataCopy_standarization = copy2.select_dtypes(include='number')

standarization = ssc.fit_transform(dataCopy_standarization)

data_standarization = pd.DataFrame(standarization)
data_standarization.columns = ["Rating", "Plays", "Playing", "Backlogs", "Wishlist"]

print("Data Sebelum dilakukan Scaling : ")
dataCopy_standarization.head(10)

Data Sebelum dilakukan Scaling :

   Rating  Plays  Playing  Backlogs  Wishlist
0     4.5  17000     3800      4600      4800
1     4.3  21000     3200      6300      3600
2     4.4  30000     2500      5000      2600
3     4.2  28000      679      4900      1800
4     4.4  21000     2400      8300      2300
5     4.3  33000     1800      1100       230
6     4.2   7200     1100      4500      3800
7     4.3   9200      759      3400      3300
8     3.0  25000      470       776       126
9     4.3  18000     1100      6200      3600

In [10]:
print("Nilai standar deviasi : ")
np.std(dataCopy_standarization)

Nilai standar deviasi :

C:\Users\Lenovo - GK\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Rating         0.532430
Plays       5893.027402
Playing      426.312322
Backlogs    1341.528120
Wishlist     800.988422
dtype: float64

In [11]:
print("Data sesudah dilakukan Scaling : ")
data_standarization.head(10)

Data sesudah dilakukan Scaling :

     Rating     Plays   Playing  Backlogs  Wishlist
0  1.466209  1.823582  8.286461  2.346147  5.018125
1  1.090573  2.502351  6.879042  3.613359  3.519976
2  1.278391  4.029579  5.237053  2.644315  2.271518
3  0.902755  3.690195  0.965537  2.569773  1.272752
4  1.278391  2.502351  5.002484  5.104196  1.896981
5  1.090573  4.538656  3.595065 -0.262818 -0.687326
6  0.902755  0.160600  1.953076  2.271605  3.769667
7  1.090573  0.499984  1.153193  1.451645  3.145438
8 -1.351063  3.181119  0.475286 -0.504333 -0.817166
9  1.090573  1.993275  1.953076  3.538817  3.519976

In [12]:
print("Nilai standar deviasi : ")
np.std(data_standarization)

Nilai standar deviasi :

C:\Users\Lenovo - GK\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3643: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Rating      1.0
Plays       1.0
Playing     1.0
Backlogs    1.0
Wishlist    1.0
dtype: float64

## Data Cleaning Nilai Null

In [13]:
data.isna().sum()

Title                 0
Release Date          0
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

In [14]:
pd.options.mode.chained_assignment = None

data.Plays[[1,10,20,30,40,50,60,70,80,90,100]]=None;
data.Rating[[1,10,20,30,40,50,60,70,80,90,100]]=None;
data.Genres[[1,10,20,30,40,50,60,70,80,90,100]]=None;

data[data.isnull().any(axis=1)]

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
1,Hades,"Dec 10, 2019",['Supergiant Games'],NaN,2.9K,2.9K,None,A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,NaN,3200,6300,3600
10,Persona 5 Royal,"Oct 31, 2019","['Atlus USA', 'Atlus']",NaN,2.7K,2.7K,None,An enhanced version of Persona 5 with some new...,"['Verdadeiro goty 2017, zelda é o caralho. Vai...",NaN,2300,5100,3000
20,Pokémon Legends: Arceus,"Jan 28, 2022","['Nintendo', 'Game Freak']",NaN,1.6K,1.6K,None,The Pokémon Legends: Arceus game honors past P...,['The more mature story (by recent Pokémon sta...,NaN,1600,2500,2100
30,Dark Souls III,"Mar 24, 2016","['Bandai Namco Entertainment', 'FromSoftware']",NaN,2.4K,2.4K,None,Dark Souls continues to push the boundaries wi...,['The only soulsborne game I dont ever want to...,NaN,851,4300,2200
40,Resident Evil Village,"May 06, 2021",['Capcom'],NaN,1.8K,1.8K,None,Resident Evil Village is a first person surviv...,['This game is what every Resident Evil game s...,NaN,333,2800,2800
50,Silent Hill 2,"Sep 24, 2001","['Team Silent', 'Konami']",NaN,2.2K,2.2K,None,"The second entry in the Silent Hill franchise,...","[""You know a game is THAT good when even the t...",NaN,282,2900,2100
60,Sonic Frontiers,"Nov 08, 2022","['Sega', 'Sonic Team']",NaN,974,974,None,Worlds will collide in Sonic the Hedgehog’s ne...,"['Recomendado', 'Sonic Frontiers é o mais novo...",NaN,491,1300,1800
70,Marvel's Spider-Man: Miles Morales,"Nov 12, 2020","['Insomniac Games', 'Sony Interactive Entertai...",NaN,1.6K,1.6K,None,The latest adventure in the Spider-Man univers...,['muito bom mas >eu< acho que não vale o preço...,NaN,372,2800,2800
80,Resident Evil 7: Biohazard,"Jan 24, 2017",['Capcom'],NaN,1.8K,1.8K,None,Resident Evil 7: Biohazard is the first game o...,['The only issue I have with this game is the ...,NaN,326,3100,1300
90,Fire Emblem Engage,"Jan 20, 2023","['Nintendo', 'Intelligent Systems']",NaN,593,593,None,Become the Divine Dragon and save the continen...,"['this is what happens when u make a fun, enga...",NaN,874,929,1100
100,MultiVersus,"Jul 19, 2022","['Player First Games', 'WB Games']",NaN,480,480,None,MultiVersus is a platform fighter that lets yo...,"[""I had my share of fun with this, but I'm afr...",NaN,341,361,216
587,Final Fantasy XVI,"Jun 22, 2023","['Square Enix', 'Square Enix Creative Business...",NaN,422,422,['RPG'],Final Fantasy XVI is an upcoming action role-p...,[],37.0,10,732,2400
649,Death Stranding 2,releases on TBD,['Kojima Productions'],NaN,105,105,"['Adventure', 'Shooter']",NaN,[],3.0,0,209,644
713,Final Fantasy VII Rebirth,"Dec 31, 2023",['Square Enix'],NaN,192,192,[],This next standalone chapter in the FINAL FANT...,[],20.0,3,354,1100
719,Lies of P,"Aug 01, 2023","['NEOWIZ', 'Round8 Studio']",NaN,175,175,['RPG'],"Inspired by the familiar story of Pinocchio, L...",[],5.0,0,260,939
726,Judas,"Mar 31, 2025",['Ghost Story Games'],NaN,90,90,"['Adventure', 'Shooter']",A disintegrating starship. A desperate escape ...,[],1.0,0,92,437
746,Like a Dragon Gaiden: The Man Who Erased His Name,"Dec 31, 2023","['Ryū Ga Gotoku Studios', 'Sega']",NaN,118,118,"['Adventure', 'Brawler', 'RPG']",This game covers Kiryu's story between Yakuza ...,[],2.0,1,145,588
972,The Legend of Zelda: Tears of the Kingdom,"May 12, 2023","['Nintendo', 'Nintendo EPD Production Group No...",NaN,581,581,"['Adventure', 'RPG']",The Legend of Zelda: Tears of the Kingdom is t...,[],72.0,6,1600,5400
1130,Star Wars Jedi: Survivor,"Apr 28, 2023","['Respawn Entertainment', 'Electronic Arts']",NaN,250,250,['Adventure'],The story of Cal Kestis continues in Star Wars...,[],13.0,2,367,1400
1160,We Love Katamari Reroll + Royal Reverie,"Jun 02, 2023","['Bandai Namco Entertainment', 'MONKEYCRAFT Co...",NaN,51,51,"['Adventure', 'Puzzle']",We Love Katamari Reroll + Royal Reverie is a r...,[],3.0,0,74,291
1202,Earthblade,"Dec 31, 2024",['Extremely OK Games'],NaN,83,83,"['Adventure', 'Indie', 'RPG']","You are Névoa, an enigmatic child of Fate retu...",[],0.0,1,103,529
1245,NEET Girl Date Night,"Oct 21, 2022",NaN,2.7,21,21,['Visual Novel'],Your friend sets you up on a date with his NEE...,"['this sucked. ""Omg she is literally me"" is no...",106.0,1,44,42
1305,Diablo IV,"Jun 06, 2023",['Blizzard Entertainment'],NaN,148,148,"['Brawler', 'RPG']",Endless demons to slaughter. Deep customizatio...,[],19.0,10,179,677
1341,Pac-Man in a Tin,"Mar 22, 2023",['Fizz Creations'],NaN,0,0,['Arcade'],Pac-Man in a Tin is a pocket-sized tin contain...,[],1.0,0,1,2
1349,Pokémon Añil,"Mar 23, 2023",['Eric Lost'],NaN,2,2,['RPG'],Pokémon Añil is the fourth video game created ...,"['pokemon HWHAT', 'Finally, after all these ye...",1.0,0,1,7

In [15]:
strategi1 = SimpleImputer(strategy="median")

data["Plays"] = strategi1.fit_transform(data[["Plays"]])

data.isna().sum()

Title                 0
Release Date          0
Team                  1
Rating               24
Times Listed          0
Number of Reviews     0
Genres               11
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

In [16]:
print(data.Plays[[1,10,20,30,40,50,60,70,80,90,100]])

1      4200.0
10     4200.0
20     4200.0
30     4200.0
40     4200.0
50     4200.0
60     4200.0
70     4200.0
80     4200.0
90     4200.0
100    4200.0
Name: Plays, dtype: float64

In [17]:
strategi2 = SimpleImputer(strategy="mean")

data["Rating"] = strategi2.fit_transform(data[["Rating"]])

data.isna().sum()

Title                 0
Release Date          0
Team                  1
Rating                0
Times Listed          0
Number of Reviews     0
Genres               11
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

In [18]:
print(data.Rating[[1,10,20,30,40,50,60,70,80,90,100]])

1      3.717876
10     3.717876
20     3.717876
30     3.717876
40     3.717876
50     3.717876
60     3.717876
70     3.717876
80     3.717876
90     3.717876
100    3.717876
Name: Rating, dtype: float64

In [19]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

data["Genres"] = strategi3.fit_transform(data[["Genres"]]).flatten()

data.isna().sum()

Title                0
Release Date         0
Team                 1
Rating               0
Times Listed         0
Number of Reviews    0
Genres               0
Summary              1
Reviews              0
Plays                0
Playing              0
Backlogs             0
Wishlist             0
dtype: int64

In [20]:
print(data.Genres[[1,10,20,30,40,50,60,70,80,90,100]])

1      ['Adventure', 'RPG']
10     ['Adventure', 'RPG']
20     ['Adventure', 'RPG']
30     ['Adventure', 'RPG']
40     ['Adventure', 'RPG']
50     ['Adventure', 'RPG']
60     ['Adventure', 'RPG']
70     ['Adventure', 'RPG']
80     ['Adventure', 'RPG']
90     ['Adventure', 'RPG']
100    ['Adventure', 'RPG']
Name: Genres, dtype: object

## Data Cleaning Nilai Duplikat

In [21]:
print("Jumlah Data Duplikat : ")
data.duplicated().sum()

Jumlah Data Duplikat :

375

In [22]:
data.drop_duplicates(inplace=True)
print("Setelah menggunakan fungsi drop_duplicates()")
print("Jumlah nilai Duplikat:", data.duplicated().sum())

Setelah menggunakan fungsi drop_duplicates()
Jumlah nilai Duplikat: 0

## Mengubah Tipe Data

In [23]:
print("Tipe data Wishlist sebelum diubah :")
data["Wishlist"].dtypes

Tipe data Wishlist sebelum diubah :

dtype('int64')

In [24]:
ubah_dtype = data["Wishlist"].astype("float")
print("Tipe data Wishlist setelah diubah :")
ubah_dtype.dtypes

Tipe data Wishlist setelah diubah :

dtype('float64')

## One Hot Encoding

In [25]:
one_hot = OneHotEncoder(sparse=False)

data_onehot = one_hot.fit_transform(data[["Genres"]])
df_onehot = pd.DataFrame(data_onehot)
df_oh = data[['Genres']].join(df_onehot)


df_oh.head(10)

C:\Users\Lenovo - GK\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Genres,0,1,2,3,4,5,6,7,8,...,245,246,247,248,249,250,251,252,253,254
0,"['Adventure', 'RPG']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"['Adventure', 'RPG']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"['Adventure', 'RPG']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"['Adventure', 'Indie', 'Platform']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,"['Adventure', 'Simulator']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,"['Adventure', 'Platform']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,"['Indie', 'Strategy']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,"['Brawler', 'RPG']",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0